/******************** Elements ********************/

body.pushed {
	position: relative;
}

*[data-live-editor="true"] {
	border: 3px dashed #6ECFF5 !important;
}

/******************** Classes ********************/

/******************** Ids ********************/

#live-editor-menu {
	position: fixed;
	top: 63px;
	z-index: 500;
	width: 70px;
}

/******************** Media Queries ********************/
