/******************** Elements ********************/
/* line 3, sass/style.scss */
body.pushed {
  position: relative;
}

/* line 7, sass/style.scss */
*[data-live-editor="true"] {
  border: 3px dashed #6ECFF5 !important;
}

/******************** Classes ********************/
/******************** Ids ********************/
/* line 15, sass/style.scss */
#live-editor-menu {
  position: fixed;
  top: 63px;
  z-index: 500;
  width: 70px;
}

/******************** Media Queries ********************/
